<!DOCTYPE html>
<html>
<head>
    <title>Bem-vindo ao nosso serviço!</title>
</head>
<body>
    <h1>Olá {{name}}!</h1>
    <p>Seja bem-vindo ao nosso serviço! Esperamos que você aproveite cada momento.</p>
    <p>Atenciosamente, {{ team }}</p>
</body>
</html>